# Exercises

In [1]:
import re
import pandas as pd

1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [26]:
string = 'b'
vowels = re.search(r'[aeiouAEIOU]', string)
vowels
#if vowels:
#    process(vowels)

In [2]:
text = "Cows roll hard, geese go fast, jump Wolfgang, jump!"

def is_vowel(string):
    match = re.search(r'[aeiouAEIOU]', string)
    if match == None:
        return False
    else:
        return True

In [3]:
string = 'aaaa'
is_vowel(string)

True

2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [4]:
string = 'bb_a'
username = re.search(r'(^[a-z](\w[^A-Z]{1,32})$)', string)
username

In [5]:

def is_valid_username(string):
    username = re.search(r'(^[a-z](\w[^A-Z]{0,30}$))', string)
    if username == None:
        print("Not a valid username")
    else:
        print("Username is acceptable")

In [6]:
string = 'a1aaaaaaa_aaa1a3aaaaaa_aaaa456aa'
is_valid_username(string)

Username is acceptable

>>> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
False

>>> is_valid_username('codeup')
True

>>> is_valid_username('Codeup')
False

>>> is_valid_username('codeup123')
True

>>> is_valid_username('1codeup')
False

3. Write a regular expression to capture phone numbers. It should match all of the following:

`(210) 867 5309
+1 210.867.5309
867-5309
210-867-5309`

In [7]:
def phone_number_variant(phone):
    number = re.search(r'\W?\d\d?\d?\W?\W?\d\d\d\W?\d?\d?\d?\W?\d?\d?\d?\d?', phone)
    if number == None:
        return False
    else:
        return True

In [8]:
phone = '(210) 867 5309'
phone_number_variant(phone)

True

In [9]:
phone = '+1 210.867.5309'
phone_number_variant(phone)

True

In [10]:
phone = '867-5309'
phone_number_variant(phone)

True

In [11]:
phone = '210-867-5309'
phone_number_variant(phone)

True

4. Use regular expressions to convert the dates below to the standardized year-month-day format.

`02/04/19
02/05/19
02/06/19
02/07/19
02/08/19
02/09/19
02/10/19`

In [12]:
def freedom_units(date):
    freedom_units = re.sub(r'(\d{2})/(\d{2})/(\d{2})',r'\3-\1-\2', date)
    return freedom_units

In [13]:
date = '02/04/19'
freedom_units(date)

'19-02-04'

In [14]:
date = '02/05/19'
freedom_units(date)

'19-02-05'

In [15]:
date = '02/06/19'
freedom_units(date)

'19-02-06'

In [16]:
date = '02/07/19'
freedom_units(date)

'19-02-07'

In [17]:
date = '02/08/19'
freedom_units(date)

'19-02-08'

In [18]:
date = '02/09/19'
freedom_units(date)

'19-02-09'

In [19]:
date = '02/10/19'
freedom_units(date)

'19-02-10'

5. Write a regex to extract the various parts of these logfile lines:

`GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58`

In [49]:
logfile = pd.Series(['''
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58''',
'''POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58''',
'''GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
'''])

In [50]:
logfile

0    \nGET /api/v1/sales?page=86 [16/Apr/2019:19345...
1    POST /users_accounts/file-upload [16/Apr/2019:...
2    GET /api/v1/items?page=3 [16/Apr/2019:193453+0...
dtype: object

In [52]:
regexp = r'''
(?P<method>[A-Z]+)
\s
(?P<path>.*?)
\s
\[
(?P<time_stamp>.*?)
]
\s
HTTP/1.1\s{
(?P<status>\d{3})
}\s
(?P<bytes_sent>\d+)
\s"
(?P<user_agent>.*?)
"\s
(?P<ip_address>\d{1,3}\.\d{1,3}\.\d{1,3})
'''

logfile.str.extract(regexp, re.VERBOSE)

,method,path,time_stamp,status,bytes_sent,user_agent,ip_address
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,200,510348,python-requests/2.21.0,97.105.19
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,429,3561,python-requests/2.21.0,97.105.19

6. You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

In [61]:
wordy = open('/usr/share/dict/words')
words = pd.read_csv(wordy, names = ['word'])
words.head()

    word
0      A
1      a
2     aa
3    aal
4  aalii

- How many words have at least 3 vowels?

In [ ]:
def is_vowel(string):
    match = re.search(r'[aeiouAEIOU]', string)
    if match == None:
        return False
    else:
        return True

In [77]:
def has_3_vowels(words):
    new_list = []
    for word in words:
        match = re.match(r'.*[aeiouAEIOU]{3}.*', word)
        if match != None:
            new_list + match
    return new_list

df = has_3_vowels(words)

df

[]

- How many words have at least 3 vowels in a row?

- How many words have at least 4 consonants in a row?

- How many words start and end with the same letter?

- How many words start and end with a vowel?

- How many words contain the same letter 3 times in a row?

- What other interesting patterns in words can you find?